# Dependency directories
node_modules/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# dotenv environment variables file
.env



exports.down = function(knex) {
//    return knex.schema.dropTable('users'); 
};
table.integer('role_id').unsigned().references('id').inTable('role');

exports.up = function(knex) {
    return knex.schema.createTable('role', (table)=>{
        table.increments();
        table.text('name').notNullable();
    });
    
};

exports.down = function(knex) {
   return knex.schema.dropTable('role'); 
};
